* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

.welcomeCover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    background-color: rgba(207, 190, 168, 0.787);
}

.welcomeCover h1 {
    margin-left: 2rem;
}

.welcomeCover .welcomeInfo {
    overflow-y: scroll;
    height: 220px;
}

.welcomeCover .welcomeInfo p {
    margin-left: 2rem;
    margin-right: 1rem;

}

.welcomeCover .buttons {
    text-align: center;
    
}

.welcomeCover .buttons a:nth-of-type(1) {
    background-color: rgb(0, 127, 177) ;
    text-decoration: none;
    padding: 0.6rem 2rem;
    border-radius: 20px;
    color: white;
    transition: all 0.2s ease-in-out;

}

.welcomeCover .buttons a:nth-of-type(2){
    color: rgb(0, 127, 177) ;
}

.welcomeCover .buttons a:nth-of-type(1):hover {
     background-color: rgb(25, 95, 121) ; 

}

/* // welcome page styling done */

.infocardCover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: rgba(207, 190, 168, 0.787);

}

.infocardCover div {
    text-align: center;
}

.PhoneInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.PhoneInputInput {
    width: 225px;

}

.PhoneInputCountry {
    outline: none;
    border: none;
}

.PhoneInputCountryIcon {
    display: none;
    outline: none;
}

.infocardCover .nextBtn {
    text-decoration: none;
    background-color: aquamarine;
    color: black;
    padding: 0.5rem 2.5rem;
    border-radius: 22px;
    border: none;
}

.infocardCover img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 3rem;
    left:2rem;
}

/* // confirmation screen started */

.confirmationCover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: rgba(207, 190, 168, 0.787);
    position: relative;
}

.confirmationCover input {
    margin-top: 1.3rem;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
}

.confirmationCover img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 3rem;
    left:2rem;
}

.confirmationCover .nextBtn {
    text-decoration: none;
    background-color: aquamarine;
    color: black;
    padding: 0.5rem 2.5rem;
    border-radius: 22px;
    margin-top: 3rem !important;
    border: none;
}

.allowNotificationCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: rgba(207, 190, 168, 0.787);
}

.allowNotificationCover img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 3rem;
    left:2rem;
}


.allowNotificationCover p {
    font-weight: 400;
}

.allow > div:nth-of-type(1){
    padding: 1rem;
}

.allow  {
    border: 0.3px solid black;
    margin-top: 1rem;
    border-radius: 12px;
    background-color: white;
}

.allow .allowChild {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: auto auto;
}

.allow .allowChild p {
    padding: 0.7rem 0rem;
    color: rgb(81, 191, 235);
}

.allow .allowChild p:nth-of-type(1) {
    border-right: 1px solid black;
    position: relative;
    right: 0.7rem;    
}

/* Home page setup */

.homeCover {
    background-color: rgba(207, 190, 168, 0.787);
    max-height: 100vh;
    position: relative;
    overflow-y: scroll;
}

/* Navbar setup */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}

nav img {
    width: 30px;
    height: 30px;
}

nav .navImgs {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 3rem;
    align-items: center;

}



/* Card data cover  */

.cardDataCover {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDataChild {
    background-color: rgba(202, 169, 126, 0.787);
    padding: 1.4rem 4rem 1.4rem 1rem;
    border-radius: 22px;

}

.cardDataChild span:nth-of-type(1) {
    font-size: 0.9rem;
}

.cardDataChild span:nth-of-type(2) {
    font-size: 1rem;
    margin-left: 0.6rem;
}

.cardDataChild span:nth-of-type(3) {
    font-size: 1.3rem;
}

/* // room card section */

.roomCardCover {

    display: flex;
    flex-direction: column;
    overflow: auto;

}

.roomCardCover .card {
    margin: 0.4rem 3rem ;
    /* border: 1px solid black; */
    background-color: white;
    padding: 0.8rem;
    border-radius: 22px;
    gap: 0.5rem;
}

.roomCardCover .card .sect1 {
    margin: 0rem 0rem;
}

.sect2 {
    display: flex;
    gap: 1.4rem;
}

.sect2 .imgCover img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sect2 .imgCover img:nth-of-type(2) {
    position: relative;
    top: 20%;
    right: 30%;
}

.member-cover {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}

.members {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.home-btn {
    position: fixed;
    bottom: 2%;
    left: 38%;
    padding: 0.5rem 1.4rem;
    border-radius: 22px;
    border: none;
    transition:all 0.4s ease-in-out;
    background-color: rgb(0, 255, 0);
    
}

.home-btn:hover {
    
    background-color: palegreen;

}

/* roomCard setup */

.selectRoomCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    position: relative;
    
    
}

.roomCover {
    /* background-color: rgb(163, 138, 138); */
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.116);
    width: 500px;
    position: fixed;
    transition: all 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    
    
}

.selectRoomCard .roomCover .hr1 {
    height: 0.3rem;
    background-color: rgb(0, 0, 0);
    width: 8%;
    position: absolute;
    top: 6%;
    left: 44%;
    border-radius: 22px;
    
}

.selectRoomCard .roomCover h4 {
    position: absolute;
    right: 10px;
    top: 6%;
    color: blue;
}

.roomGlobe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 100px;

}

.roomGlobe div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.8rem 1.3rem;
    
}

.toggleClass {
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(0, 255, 0);

}

.roomGlobe div .globe {
    font-size: 3.4rem;
    outline: 5px solid blue;
    border-radius: 50%;

}

.room {
    flex-grow: 1;
    
}


.moreInfo {
    text-align: center;
    margin: 0.5rem;
}

.moreInfo button {
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    background-color: rgb(0, 255, 0);
    border-radius: 12px;
    border: none;

}

.homeGif {
    position: absolute;
    top: 35%;
    left: 40%;
    
}

    /* setting up new sheet  */

.newSheetCover {
    background-color: white;
    width: 500px ;
    position: fixed;
    height: 100%;
    /* top: 0%; down at 0 invisible at 0 */
    /* overflow: auto; */
    top: 100%;
    transition: all 1s ease-in-out;


}

.sheetToggleClass {
    top : 0% !important;
}

.newSheet .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 228, 196, 0.582);
}

.newSheet .navbar img {
    height: 30px;
    width: 30px;
}

.newSheet .navbar .navSect1 {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

.newSheet .navbar .navSect1 >img:nth-child(1)
{
    height: 20px;
    width: 20px;
    transform: rotate(-90deg);
}

.newSheet .navbar .navSect2 {
    display: flex;
    /* flex-grow: 1; */
    gap: 1rem;
}

.newSheet .navbar .navSect2  img:nth-child(2)
{
    border-radius: 50%;
   
}

.section2Cover {
    height: 100vh;

}

.section2Cover .section2 {
    /* background-color: black; */
    height: 100%;
    width: 500px;

}

.section2 .peopleGrid {
    display: grid;
    grid-template-columns: repeat(3 , auto);
    justify-content: space-around;

}

.section2 .peopleGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem 0rem;
    position: relative;
}

.section2 .peopleGrid div p{
   font-weight: bold;
   font-size: 0.9rem;
}

.section2 .peopleGrid div img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.newSheetFooter {
    width: 100%;
    background-color: bisque;
    position: absolute;
    bottom: 0;
    padding: 0.6rem 1.5rem 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newSheetFooter button {
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 12px;
    color: rgb(9, 255, 0);
    background-color: rgba(128, 128, 128, 0.555);
}

.newSheetFooter div {
    display: flex;
    gap: 1.4rem;
    font-size: 1.1rem;
    align-items: center;
}

.micMute {
    position: absolute;
    top: 45%;
    left: 66%;
    color: rgb(9, 255, 0) ;
    background-color: white;
    border-radius: 50%;

}

.micHidden {
    display: none;
}

.footerPlus {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 50%;
    padding: 0.2rem;
    line-height: 2rem;

}

/* Explore navbar  */

.exploreCover {
    background-color: antiquewhite;
    max-height: 100vh;
    overflow-y: auto;
    /* height: 690px; */
}

.exploreNav {
    display: flex;
    justify-content: space-between;
    align-items : center;
    padding: 1rem;
}

.exploreNav img {
    height: 18px;
    width: 18px;
}

.exploreNav h3 {
    font-weight: 600;
}

.exploreNav p{
    visibility: hidden;
}


.searchCover .search {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.searchCover .search div {
    padding: 0.3rem 1rem;
    background-color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.searchCover .search div img{
    height: 23px;
    width: 23px;
}

.searchCover .search div input {
    border: none;
    height: 2rem;
    width: 25rem;
    outline: none;
    font-size: 1.3rem;
}

.explorePeople {
    padding: 1rem;
}

.explorePeople>p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: rgb(128, 128, 128);

}


.peopleFollow {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.individualPeople {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.individualPeople .peoplexInfo {

    display: flex;
    align-items: center;
    gap: 0.4rem;

}

.individualPeople .peoplexInfo div{

    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

.individualPeople .peoplexInfo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.individualPeople .peoplexInfo div h3 {
    flex-grow: 1;
    width: 50px;
    border-radius: 50%;
    display: block;
    width: 100%;

}

.individualPeople .peoplexInfo div p {
       color: rgb(128, 128, 128);
       font-weight: bold;
}



.individualPeople button {
    padding: 0.2rem 1rem;
    border: none;
    background-color: skyblue;
    border-radius: 5px;

}

/* Explore section 3 */

.exploreSect3cover {
    padding: 1rem 1.8rem;
}

.exploreSect3 {
    display: grid;
    /* grid-template-columns: 180px 180px; */
    grid-template-columns: repeat(auto-fit , minmax(180px , 180px) );
    justify-content: space-around;
    
}

.exploreSect3cover>p {
     margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: rgb(128, 128, 128);
}

.exploreSect3info div {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: white;
    margin-top: 0.8rem;
    border-radius: 12px;
}

/* People nav */

.profileCover {
   background-color: antiquewhite;
    min-height: 100vh;
}

.profileNav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.profileNav img {
    height: 23px;
    width: 23px;
}

.profileNav div {
    display: flex;
    gap: 1.5rem;
}

.profileNav div img:nth-child(1) {
    height: 30px;
    width: 30px;
}

.profileNav img:nth-child(2) {
    height: 30px;
    width: 30px;
}

.profileNav img:nth-child(3) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.profileSect2cover {
    padding: 1rem 1rem;
}

.profileSect2cover .profileSect2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profileSect2cover .profileSect2>img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.profileSect2 div:nth-of-type(2) {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;

}

.profileSect2 div:nth-of-type(1) p{
    color: rgba(128, 128, 128, 0.561);
}

.profileSect2 div:nth-of-type(2) span {
   font-weight: 800;
   color: black !important;
}

.profileSect2 div:nth-of-type(2) p {
   font-weight: 800;
    color: rgba(128, 128, 128, 0.561);

}

.profileSect2>p {
    margin-top: 3rem;
    color: rgb(16, 160, 226);
}

.twitterndInsta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.twitterndInsta div img{
    height: 20px;
    width: 20px;
    

}

.twinsta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem !important;
}

.twinsta p {
    color: rgb(16, 160, 226) !important;
    font-weight: lighter !important;

}

/* // seeting u last section of profile page */

.profileLastSect {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.profileLastSect img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}

.profileLastSect div span{
    font-weight: bold;
    color: black !important;
    font-size: 1.2rem;
}

.member {
    margin-top: 2em;
}

.member p:nth-of-type(1){
    color: gray;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.1rem;

}

.member p:nth-of-type(2){
    margin-top: 0.5rem;
    background-color: rgb(16, 160, 226) !important;
    display: inline-block;
    padding: 1.5rem;
    border-radius: 45%;
    line-height: 1rem;
}







